.create-add{
    margin-top: 2em;
    margin-bottom: 0.5em;
    background-color: #212341;
    color: white;
    width: 5em;
    padding: 0.5em;
    border-radius: 2em;
}

.fill-form{
    color: red;
}

.form{
    background-color: #757BE1;
    color: aliceblue;
    font-family: monospace;
    font-size: 1rem;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    padding: 2em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    align-self: center;
    min-width: 50vw;
    margin-top: 10vh;
    h5{
        margin-bottom: 0.5em;
    }
}

.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}